<ion-content  mode="ios">
  <ion-grid fixed>
    <ion-row *ngFor="let categorie of categories|sortBy:'asc':['nom']" class="ion-margin-bottom">
      <ion-col size="12">
        <ion-item lines="true" mode="ios">
          <ion-button fill="clear"  (click)="categorie.expand=!categorie.expand">
            <ion-icon slot="icon-only" name="ios-arrow-forward" *ngIf="!categorie.expand"></ion-icon>
            <ion-icon slot="icon-only" name="ios-arrow-down"  *ngIf="categorie.expand"></ion-icon>
          </ion-button>
          <ion-label (click)="onShowCategorie(categorie.id)">{{categorie.nom}}  
            <ion-badge>{{(intrants|filterBy:'categorieId':categorie.id|searchBy:data.searchValue).length}}</ion-badge></ion-label>

          <ion-buttons slot="end">
            <ion-button (click)="onAddIntrant(categorie.id)">
              <ion-icon slot="start" name="add"></ion-icon>
            </ion-button>
            <ion-button (click)="onEditCategorie(categorie.id)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button (click)="onDeleteCategorie(categorie.id)">
              <ion-icon color="danger" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
         
        </ion-item>
        <div *ngIf="categorie.expand" class="container">
          <ion-slides mode="ios" pager="ios" scrollbar="ios">
            <ion-slide *ngFor="let intrant of intrants|filterBy:'categorieId':categorie.id|sortBy:'asc':['nom', 'prenom']|searchBy:data.searchValue">
             <ion-card mode="ios">
               <ion-card-header>
                <ion-card-title color="secondary">{{intrant.nom}}</ion-card-title>
                 <ion-card-subtitle color="danger" >{{intrant.quantiteStock}} en stock</ion-card-subtitle>
                 
               </ion-card-header>
               <ion-card-content>
                 <ion-row>
                   <p>
                     {{intrant.description}}
                   </p>
                 </ion-row>
                <ion-row>
                  <ion-col offset="6" size="2">
                    <ion-button fill="clear" (click)="onEditIntrant(intrant.id)">
                      <ion-icon slot="icon-only" name="create"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="2">
                   <ion-button fill="clear" (click)="onDeleteIntrant(intrant.id)">
                     <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
                   </ion-button>
                 </ion-col>
                </ion-row>
               </ion-card-content>
             </ion-card>
            </ion-slide>
          </ion-slides>
          <ion-text color="danger" *ngIf="(intrants|filterBy:'categorieId':categorie.id|searchBy:data.searchValue).length===0" >
            <p>Aucune intrant trouvée!</p>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-text color="danger" *ngIf="categories.length===0">
      <p>Aucune categorie de intrant! Veuillez ajouter une categorie de intrant!</p>
    </ion-text>
  
  <ion-fab  *ngIf="!trash"  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddCategorie()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>