<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label color="warning">{{title| uppercase}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label color="secondary">Nom: </ion-label>
      <ion-label>{{item.nom|uppercase}}</ion-label>
    </ion-item>

    <ion-row>
      <ion-label color="secondary">Description:</ion-label>
      <ion-col size="12">
        <ion-text>{{item.description}}</ion-text>
      </ion-col>

    </ion-row>
  </ion-list>
</ion-content>