<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-slides [options]="slideOpts" #slides>
      <ion-slide class="ion-no-padding">
        <ion-list class="ion-no-margin">

          <ion-item>
            <ion-label position="stacked" color="primary">Categorie</ion-label>
            <ion-select formControlName="categorieId">
              <ion-select-option *ngFor="let item of categories" [value]="item.id">{{item.nom}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" color="primary">Nom</ion-label>
            <ion-input formControlName="nom" type="text" spellcheck="false" autocapitalize="on" required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" color="primary">Unité de mesure</ion-label>
            <ion-input formControlName="uniteMesure" type="text" spellcheck="false" autocapitalize="off" required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" color="primary">Prix unitaire de vente</ion-label>
            <ion-input formControlName="prixUnitaireVente" type="number" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" color="primary">Description</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>

          <ion-text class="ion-padding-start" color="danger"
            *ngIf="(categorieId.invalid && (categorieId.dirty || categorieId.touched))">
            <small *ngIf="categorieId.errors.required">
              La categorie est requise.
            </small>
          </ion-text>
          <ion-text class="ion-padding-start" color="danger" *ngIf="(nom.invalid && (nom.dirty || nom.touched))">
            <small *ngIf="nom.errors.required">
              Le nom est requis.
            </small>
          </ion-text>
          <ion-text color="danger" *ngIf="uniteMesure.invalid && (uniteMesure.dirty || uniteMesure.touched)">
            <small *ngIf="uniteMesure.errors.required" class="ion-padding-start">
              l'unité de mesure est requise.
            </small>
          </ion-text>
          <ion-text class="ion-padding-start" color="danger"
            *ngIf="(prixUnitaireVente.invalid && (prixUnitaireVente.dirty || prixUnitaireVente.touched))">
            <small *ngIf="prixUnitaireVente.errors.required">
              Le prix unitaire est requis.
            </small>
          </ion-text>
        </ion-list>

      </ion-slide>
      <ion-slide>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-img [src]="photo" width='100%'></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <input type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" />
              <!-- <ion-button (click)="onChoose()">Choisir</ion-button> -->
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-slide>
    </ion-slides>

    <ion-row>
      <ion-col>
        <ion-button *ngIf="!slideIndex" color="light" type="reset" expand="block">Effacer</ion-button>
        <ion-button *ngIf="slideIndex" color="light" (click)="onPrevious()" expand="block">Retour</ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="!slideIndex" [disabled]="!form.valid" (click)="onNext()" expand="block">Suivant</ion-button>
        <ion-button *ngIf="slideIndex" [disabled]="!form.valid" type="submit" expand="block">Valider</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>