<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Fonction</ion-label>
          <ion-select [(ngModel)]="fonctionId" [ngModelOptions]="{standalone: true}">
            <ion-select-option *ngFor="let fonction of fonctions" [value]="fonction.id">{{fonction.nom}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Utilisateur</ion-label>
          <ion-select [(ngModel)]="operation.userId" [ngModelOptions]="{standalone: true}">
            <ion-select-option *ngFor="let user of users|filterBy:'fonctionId':fonctionId" [value]="user.id">{{user.nom}} {{user.prenom}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" offset="2">Produit</ion-col>
      <ion-col size="4">quantite</ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-no-padding" *ngFor="let prod of produitsArray; let i = index">
        <ion-item class="ion-no-padding">
          <ion-label slot="start" class="">{{i+1}}</ion-label>
          <ion-col size="7" class="" class="">
            <ion-input class="bg-blue " [(ngModel)]="prod.nom" [ngModelOptions]="{standalone: true}"
              (click)="prod.searching=!prod.searching">
            </ion-input>
          </ion-col>
          <ion-col size="4" class=" ">
            <ion-input class="bg-blue " type="number" [(ngModel)]="produitsArray[i].quantite"
              [ngModelOptions]="{standalone: true}" >
            </ion-input>
          </ion-col>
          <ion-button (click)="onDelete(i)" color="danger" class="ion-no-margin" slot="end">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-card class="search-box" *ngIf="prod.searching">
          <ion-row (click)="onSelectProduct(i, elem.id, elem.categorie, elem.nom)"
            *ngFor="let elem of produits|searchBy:prod.nom:'categorie'">
            <ion-col size="12" *ngIf="(produits|searchBy:prod.nom:'categorie').length>0">
              {{elem.categorie}} {{elem.nom}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="( produits|searchBy:prod.nom:'categorie').length===0">
            <ion-col size="12">Aucun produit trouvé!</ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="text-center">
      <ion-button (click)="onAddData()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="onSubmit()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>