<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Fournisseur</ion-label>
          <ion-select disabled [(ngModel)]="operation.fournisseurId" [ngModelOptions]="{standalone: true}">
            <ion-select-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{fournisseur.nom}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Numero</ion-label>
          <ion-input readonly type="text" [(ngModel)]="operation.numeroFacture" [ngModelOptions]="{standalone: true}">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="2">Produit</ion-col>
      <ion-col size="2">quantite</ion-col>
      <ion-col size="2">PU</ion-col>
      <ion-col size="2">PT</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-no-padding" *ngFor="let prod of produitsArray; let i = index">
        <ion-item class="ion-no-padding">
          <ion-label slot="start">{{i+1}}</ion-label>
          <ion-col size="4">
            <ion-input readonly class="bg-blue " [(ngModel)]="prod.nom" [ngModelOptions]="{standalone: true}"
              (click)="prod.searching=!prod.searching">
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input readonly class="bg-blue " type="number" [(ngModel)]="produitsArray[i].quantite"
              [ngModelOptions]="{standalone: true}" >
            </ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-input readonly class="bg-blue " type="number" [(ngModel)]="produitsArray[i].prixUnitaire"
              [ngModelOptions]="{standalone: true}" >
            </ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-input readonly class="bg-blue " type="number"
              [ngModel]="produitsArray[i].quantite*produitsArray[i].prixUnitaire" disabled="true"
              [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-col>
        </ion-item>
        <ion-card class="search-box" *ngIf="prod.searching">
          <ion-row (click)="onSelectProduct(i, elem.id, elem.categorie, elem.nom)"
            *ngFor="let elem of produits|searchBy:prod.nom:'categorie'">
            <ion-col size="12" *ngIf="(produits|searchBy:prod.nom:'categorie').length>0">
              {{elem.categorie}} {{elem.nom}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="( produits|searchBy:prod.nom:'categorie').length===0">
            <ion-col size="12">Aucun produit trouvé!</ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Autres frais</ion-label>
          <ion-input readonly type="number" [(ngModel)]="operation.autresFrais" [ngModelOptions]="{standalone: true}"
            ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Reductions</ion-label>
          <ion-input readonly type="number" [(ngModel)]="operation.reductions" [ngModelOptions]="{standalone: true}"
            ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Montant Total</ion-label>
          <ion-input readonly type="number" disabled="true" [(ngModel)]="operation.montantTotal"
            [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Montant versé </ion-label>
          <ion-input readonly type="number" [(ngModel)]="operation.montantPaye" [ngModelOptions]="{standalone: true}">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>