.img{
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    img{
        height: 100%;
        width: 100%;
    }
}

ion-card{
    width: 220px;
    // height: 300px;
    background-color: white;
    .card-content{
        background: rgba($color: #000000, $alpha: 0.5);
        height: 100%;
        width: 100%;
    }
}

.container{
    background-color: rgba(0,100,255,0.1);
}