<ion-header>
  
  <ion-toolbar mode="ios" color="primary">
    <ion-badge color="dark" mode="ios">{{n}}</ion-badge>
    <ion-title>
      Table {{numeroTable}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onValidate()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  mode="ios">
  <ion-grid fixed>
    <ion-row *ngFor="let categorie of categories|sortBy:'asc':['nom']" class="ion-margin-bottom">
      <ion-col size="12">
        <ion-item lines="true" mode="ios">
          <ion-button fill="clear"  (click)="categorie.expand=!categorie.expand">
            <ion-icon slot="icon-only" name="chevron-forward-outline" *ngIf="!categorie.expand"></ion-icon>
            <ion-icon slot="icon-only" name="chevron-down-outline"  *ngIf="categorie.expand"></ion-icon>
          </ion-button>
          <ion-label>{{categorie.nom}}  
            <ion-badge>{{(produits|filterBy:'categorieId':categorie.id|searchBy:data.searchValue).length}}</ion-badge>
          </ion-label>
      
        </ion-item>
        <div *ngIf="categorie.expand" class="container">
          <ion-slides mode="ios" pager="ios" [options]="slidesOptions">
            <ion-slide *ngFor="let produit of produits|filterBy:'categorieId':categorie.id|sortBy:'asc':['nom', 'prenom']|searchBy:data.searchValue">
             <ion-card mode="ios">
              <div class="img">
                <img src="{{produit.photo}}">
              </div>
              <div class="card-content">
                <ion-card-header>
                  <ion-card-title color="secondary">{{produit.nom}}</ion-card-title>
                   <ion-card-subtitle color="light" >{{produit.quantite}} X {{produit.prixUnitaireVente}} F CFA</ion-card-subtitle>
                 </ion-card-header>
                 <ion-card-content>
                  <!-- <ion-item>
                    <ion-input type="number" [(ngModel)]="produit.quantite" ></ion-input>
                    <ion-button (click)="onAdd(produit.id, produit.prixUnitaireVente,produit.quantite)" expand="block"  shape="round">
                      <ion-icon slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                  </ion-item> -->
  
                  <ion-button color="success" (click)="onAdd(produit.id, produit.prixUnitaireVente)" expand="full">
                    Ajouter
                  </ion-button>
                  <ion-button color="danger" (click)="onRemove(produit.id)" expand="full">
                    retrancher
                  </ion-button>
                 </ion-card-content>
              </div>

             </ion-card>
            </ion-slide>
          </ion-slides>
          <ion-text color="danger" *ngIf="(produits|filterBy:'categorieId':categorie.id|searchBy:data.searchValue).length===0" >
            <p>Aucune produit trouvée!</p>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-text color="danger" *ngIf="categories.length===0">
      <p>Aucune categorie de produit! Veuillez ajouter une categorie de produit!</p>
    </ion-text>
</ion-content>