<ion-content  mode="ios">
  <ion-grid fixed>
    <ion-row *ngFor="let type of types|sortBy:'asc':['nom']" class="ion-margin-bottom">
      <ion-col size="12">
        <ion-item lines="true" mode="ios">
          <ion-button fill="clear"  (click)="type.expand=!type.expand">
            <ion-icon slot="icon-only" name="chevron-forward-outline" *ngIf="!type.expand"></ion-icon>
            <ion-icon slot="icon-only" name="chevron-down-outline"  *ngIf="type.expand"></ion-icon>
          </ion-button>
          <ion-label (click)="onShowType(type.id)">{{type.nom}}  
            <ion-badge>{{(chambres|filterBy:'typeId':type.id|searchBy:data.searchValue).length}}</ion-badge></ion-label>

          <ion-buttons slot="end">
            <ion-button (click)="onAddChambre(type.id)">
              <ion-icon slot="start" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="onEditType(type.id)">
              <ion-icon color="warning" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="onDeleteType(type.id)">
              <ion-icon color="danger" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
         
        </ion-item>
        <div *ngIf="type.expand" class="container">
          <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slidesOptions">
            <ion-slide *ngFor="let chambre of chambres|filterBy:'typeId':type.id|sortBy:'asc':['nom', 'prenom']|searchBy:data.searchValue">
             <ion-card mode="ios">
               <ion-card-header>
                <ion-card-title color="secondary">CHAMBRE {{chambre.numero}}</ion-card-title>
                 <ion-card-subtitle color="danger" >{{chambre.prixJournalier}} F CFA</ion-card-subtitle>
                 
               </ion-card-header>
               <ion-card-content >
                 <ion-row class="desc">
                   <p>
                     {{chambre.description}}
                   </p>
                 </ion-row>
                <ion-row>
                  <ion-col class="ion-no-padding" offset="3" size="3">
                    <ion-button fill="clear" (click)="onShowChambre(chambre.id)">
                      <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-no-padding" size="3">
                    <ion-button fill="clear" (click)="onEditChambre(chambre.id)">
                      <ion-icon color="warning" slot="icon-only" name="create-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-no-padding" size="3">
                   <ion-button fill="clear" (click)="onDeleteChambre(chambre.id)">
                     <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
                   </ion-button>
                 </ion-col>
                </ion-row>
               </ion-card-content>
             </ion-card>
            </ion-slide>
          </ion-slides>
          <ion-text color="danger" *ngIf="(chambres|filterBy:'typeId':type.id|searchBy:data.searchValue).length===0" >
            <p>Aucune chambre trouvée!</p>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-text color="danger" *ngIf="types.length===0">
      <p>Aucun type de chambre! Veuillez ajouter un type de chambre!</p>
    </ion-text>
  
  <ion-fab  *ngIf="!trash"  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddType()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>