
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-list-header>
        <ion-label color="danger">Changer votre mot de passe!</ion-label>
      </ion-list-header>
     
      <ion-item>
        <ion-label position="stacked" color="primary">Mot de Passe</ion-label>
        <ion-input formControlName="password" type="password" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Verification du mot de passe</ion-label>
        <ion-input formControlName="verifPassword" type="password" required>
        </ion-input>
      </ion-item>

      <!-- <ion-text color="danger">
        <p [hidden]="form.valid" class="ion-padding-start">
          Password is required
        </p>
      </ion-text> -->
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="!form.valid"  type="submit" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>

